[submodule "external/seastar"]
	path = external/seastar
	url = https://github.com/scylladb/seastar.git

[submodule "external/libfork"]
	path = external/libfork
	url = https://github.com/ConorWilliams/libfork.git
